extends layout

block content
  h1 Sermons
  ul 
    each sermon in sermons
      li(class='sermonList')
        a(href='/oneSermon/' + encodeURIComponent(sermon.sermon_title))
          span= sermon.sermon_title
          br
          span= sermon.date_delivered
