extends layout

block content
  h1 Sermons
  ul 
    each sermon in sermons
      li
        a(href='/sermons/' + encodeURIComponent(sermon.sermon_title))
          span= sermon.sermon_title
          span= sermon.date_delivered

      
