body {
  padding: 50px;
  font: 14px "Roboto Condensed", sans-serif;
}

a {
  color: #00B7FF;
}

.mainverse {
  font-weight: 100;
  text-align: center;
  font-size: 16px;
  padding: 5px;
}

.point {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  margin-top: 25px;
}

.subpoint {
  font-size: 16px;
  padding: 5px;
  padding-left: 25px;
}

.header1 {
  font-size: 39px;
  padding: 5px;
}

.header2 {
  font-size: 32px;
  padding: 5px;
}

.header3 {
  font-size: 26px;
  padding: 5px;
}

.quote {
  text-align: center;
  font-weight: 100;
  padding: 5px;
}

.verse {
  padding: 5px;
  font-weight: bold;
}

.discussion {
  font-size: 14px;
  font-weight: 200;
  padding: 5px;
  padding-left: 25px;
}

.versetext {
  padding: 5px;
  font-weight: 100;
  font-style: italic;
}



.newSermonLabel {
  font-size: 26px;
}

.selectdiv {
  display: inline-block;
  color: black;
}

.logo {
  height: 100px;
  padding-top: 10px;
  padding-right: 10px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #4e5d6c
}
.form-group {
  padding-left: 25px;
  padding-right: 25px;
  margin: 15px
}

}
.addNotesView {
  display: block;
}
.formContainer {
  width: 700px;
  height: auto;
}

.container {
  display: flex;
  align-items: flex-start;
  /*flex-direction: row;*/

}

.notesContainer {
  background: #4e5d6c;
  width: 700px;
  min-height: 400px;
}
.sermonInfo {
  padding: 25px;
}

.sermonList {
  padding-top: 10px;
}

.footerIcons {
  width: 50px;
  height: 50px;

}
.footerSection {
  padding: 15px;

}

.footerText {
  text-align: center;
  width:50px;
}

.appName {
  padding: 25px;
}
